*
{
	margin: 0px;
	padding: 0px;
}
table
{
	background-color: green;
	border: 2px solid black;
}

h2
{
	padding: 50px 0px 0px 0px;
}
form label
{
	margin-left: 50px;
}

#blackBar
{
	width: 25%;
	background-color: grey;
	height: 3px;
}